/* Variables */
:root {
  --bacic-black: #000000;
  --bacic-gray: #333333;
  --bacic-gray-back: #888888;
  --bacic-extra-gray: #666666;
  --bacic-white: #ffffff;
  --special: #81B3D2;
  --special-nav: #766357;
  --bacic-back-gray: #eeeeee;
  --bacic-background-color-gray: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-bold.woff") format("woff"),
    url("../fonts/ptsans-bold.woff2") format("woff2");
}

/* Global */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--bacic-black);
  text-transform: uppercase;
  background-color: var(--bacic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--bacic-white);
}

.container-body {
  background-color: var(--bacic-white);
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  background-color: var(--bacic-white);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--bacic-background-color-gray);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--bacic-black);
  text-decoration: none;
}

.main-header {
  width: 1200px;
}

.site-navigation {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 16px;
  list-style: none;
  font-weight: 700;
  margin-bottom: 2px;
}

.site-navigation-link:hover {
  color: var(--special);
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link.active {
  color: var(--special-nav);
}

.site-navigation li {
  width: 200px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.site-navigation li:nth-child(2) {
  margin-right: 173px;
}

.site-navigation li:nth-child(3) {
  letter-spacing: 0.2px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(4) {
  margin-right: 71px;
}

.site-navigation li:nth-child(1) {
  margin-left: 72px;
}

.header-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--bacic-white);
  padding-top: 40px;
  margin-bottom: 43px;
}

.title-promo {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
  background-color: var(--bacic-white);
}

.blue {
  min-height: 156px;
  padding-top: 50px;
  text-align: center;
  background: var(--special);
  color: var(--bacic-white);
  width: 1200px;
}

.search-question {
  margin: 0 auto;
  margin-bottom: 34px;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: var(--bacic-black);
  padding-top: 55px;
  margin-left: -9px;
}

.text-bold-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 240px;
}

.text-bold-name:hover {
  color: var(--special);
}

.text-bold-name:active {
  opacity: 0.3;
}

.found-sorting {
  font-size: 12px;
  line-height: 18px;
  margin-left: 46px;
  margin-top: 20px;
}

.text-blue {
  font-size: 12px;
  line-height: 18px;
  color: var(--special);
}

.text-norm {
  font-size: 12px;
  line-height: 18px;
  color: var(--bacic-black);
  opacity: 0.3;
}

.text-rating:hover {
  color: var(--special);
}

.text-rating:active {
  color: var(--bacic-black);
}

.text-special {
  color: var(--special-nav)
}

.container {
  width: 1200px;
  padding: 0px;
  margin: 0px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.feature-item {
  width: 400px;
  text-align: center;
  margin-top: -60px;
}

.feature-item h4 {
  position: relative;
  margin-top: 160px;
  padding: 0;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  width: 288px;
  margin: 0 auto;
  margin-bottom: 82px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.container-catalog {
  background-image: url("../img/background-catal.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.feature-item.house h4::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 162px;
  height: 72px;
  width: 75px;
  display: block;
  background-image: url("../img/houses-image.svg");
  background-repeat: no-repeat;
}

.feature-item.food h4::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 162px;
  height: 72px;
  width: 75px;
  display: block;
  background-image: url("../img/food-image.svg");
  background-repeat: no-repeat;
}

.feature-item.souvenirs h4::before {
  content: "";
  position: absolute;
  top: -104px;
  left: 167px;
  height: 76px;
  width: 64px;
  display: block;
  background-image: url("../img/souvenirs-image.svg");
  background-repeat: no-repeat;
}

.item-facilities {
  width: 134px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 24px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  color: var(--bacic-black);
}

.item-number {
  margin-bottom: 22px;
}

.search-date {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--bacic-black);
  margin: 0px;
  margin-bottom: 45px;
}

.list-facilities-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  column-gap: 0px;
  background-color: var(--bacic-back-gray);
  padding-top: 25px;
  padding-bottom: 40px;
  list-style: none;
}

.main-welcome {
  background: url("../img/shape-image.svg") no-repeat 0 452px,
  url("../img/background-photo.jpg") no-repeat top center;
  padding-top: 77px;
  padding-bottom: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 970px;
}

.footer-hashtag {
  width: 240px;
  margin-left: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.telephone {
  margin-top: 8px;
}

.footer-filter {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0;
  padding: 0;
  width: 150px;
  margin-left: -17px;
  margin-top: 36px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 0px;
  text-align: center;
  margin-right: 22px;
}

.footer-copyright-logo {
  margin-left: 8px;
}

.footer-filter-item {
  display: flex;
  width: 46px;
  height: 48px;
  color: var(--bacic-white);
  background-color: var(--special);
  background-position: center;
  text-indent: -9999px;
}

.footer-filter-item:active{
  background-color: #5496BD;
  opacity: 0.3;
}

.footer-filter-item:hover{
  background-color: #669EC0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 117px;
  padding-right: 115px;
  padding-top: 4px;
}

.map {
  margin-bottom: -120px;
}

.main-image {
  position: relative;
  display: block;
  justify-content: center;
  margin: auto;
  margin-bottom: 80px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.container-block {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px;
  margin-bottom: 60px;
}

.container-block-rev {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: start;
}

.features-item-caption {
  font-size: 21px;
  line-height: 21px;
  margin-top: -5px;
  padding-bottom: 7px;
}

.advantage-number {
  margin-bottom: 25px;
}

.search-hotels {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-details {
  background-color: var(--special);
  padding: 3px 17px;
  color: var(--bacic-white);
}

.button-reservation {
  background-color: var(--special-nav);
  padding: 3px 17px;
  color: var(--bacic-white);
}

.features {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.features-item {
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
}

.accommodation-list {
  padding: 0px;
  list-style: none;
  margin-left: 73px;
}

.list-filter {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.features-list {
  padding: 0px;
  margin: 0px;
}

.filter-twitter {
  background-image: url("../img/twitter-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-facebook {
  background-image: url("../img/facebook-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-youtube {
  background-image: url("../img/youtube-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-button {
  display: flex;
  justify-content: center;
  width: 568px;
  height: 86px;
  background-color: var(--special-nav);
  min-height: 86px;
  align-items: center;
  margin: auto;
}

.search-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 73px;
  padding-top: 50px;
  background-color: #ffffff;
}

input[type="text"] {
  background: #f2f2f2;
  color: #000000;
  text-transform: uppercase;
}

input[type="text"]::-webkit-input-placeholder {
  color: var(--bacic-black);
}

input[type="text"]:-ms-input-placeholder {
  color: var(--bacic-black);
}

input[type="text"]::-ms-input-placeholder {
  color: var(--bacic-black);
}

input[type="text"]::placeholder {
  color: var(--bacic-black);
}

.form-header {
  padding-top: 13px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: var(--bacic-white);
  margin-top: 10px;
}

.form-title:hover {
  background-color: #604e43;
}

.form-title:active {
  background-color: #503e33;
}

.form-header:active {
  color: rgba(255, 255, 255, 0.3);
}

.form {
  position: relative;
  overflow: hidden;
}

.form-search {
  position: absolute;
  top: 0;
  left: 316px;
  width: 512px;
  padding-top: 55px;
  padding-left: 56px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: var(--bacic-black);
  background-color: var(--bacic-white);
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.form-body {
  border: none;
  margin: 0;
  padding: 0;
}

.form-body p {
  border: none;
  margin: 0;
  padding: 0;
}

.form-search-label-from {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-search-label-to {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-search-field {
  width: 346px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 0;
  padding-left: 14px;
  margin-bottom: 30px;
  max-height: 38px;
  font-size: 14px;
  line-height: 26px;
  font: inherit;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  border: none
}

.rating {
  padding: 3px 15px;
  background-color: var(--bacic-background-color-gray);
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 73px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;

}

.breadcrumbs-filters {
  display: flex;
  list-style: none;
  margin-right: 32px;
  margin-top: 20px;
}

.filters-block fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  color: black;
  outline: red 3px solid;
  width: 200px;
}

.filters-block {
  outline: red 3px solid;
  display: flex;
  flex-direction: row;
}

.filter legend {
  text-align: center;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -4px;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  border: 2px solid var(--bacic-white);
}

.filter-checkbox {
  margin: 15px;
}
