/* Variables */
:root {
  --bacic-black: #000000;
  --bacic-gray: #333333;
  --bacic-gray-back: #888888;
  --bacic-extra-gray: #666666;
  --bacic-white: #ffffff;
  --special: #81B3D2;
  --special-nav: #766357;
  --bacic-back-gray: #eeeeee;
  --bacic-background-color-gray: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/pysans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-bold.woff") format("woff"),
    url("../fonts/ptsans-bold.woff2") format("woff2");
}

/* Global */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--bacic-black);
  text-transform: uppercase;
  background-color: var(--bacic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--bacic-white);
}

.container-body {
  background-color: var(--bacic-white);
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  background-color: var(--bacic-white);
}

.page {
  height: 100%;
  width: 1200px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  background-color: var(--bacic-background-color-gray);
  margin-left: 70px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--bacic-black);
  text-decoration: none;
}

.site-navigation {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  list-style: none;
  font-weight: 700;
}

.site-navigation-link:hover {
  color: var(--special);
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-link.active {
  color: var(--special-nav);
}

.site-navigation li {
  width: 200px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.site-navigation li:nth-child(2) {
  margin-right: 131px;
}

.site-navigation li:nth-child(3) {
  letter-spacing: 0.2px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(4) {
  margin-right: 71px;
}

.site-navigation li:nth-child(1) {
  margin-left: 72px;
}

.header-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 180px;
  background-color: var(--bacic-white);
}

.title-promo {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 0.1px;
  background-color: var(--bacic-white);
}

.blue {
  width: 470px;
  min-height: 256px;
  padding-top: 50px;
  text-align: center;
  background: var(--special);
  color: var(--bacic-white);
  width: 1200px;
}

.search-question {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: var(--bacic-black);
  padding-top: 58px;
}

.item-facilities {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.text-bold {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.found-sorting {
  font-size: 12px;
  line-height: 18px;
}

.text-blue {
  font-size: 12px;
  line-height: 18px;
  color: var(--special);
}

.text-norm {
  font-size: 12px;
  line-height: 18px;
  color: var(--bacic-black);
  opacity: 0.3;
}

.text-special {
  color: var(--special-nav)
}

.container {
  width: 1200px;
  padding: 0px;
  margin: 0px;
}

.container-catalog {
  background-image: url("../img/background-catal.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.sub-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: var(--bacic-gray);
  column-gap: 120px;
  padding-bottom: 82px;
  padding-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
  list-style: none;
}

.search-date {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--bacic-black);
}

.list-facilities-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  column-gap: 150px;
  background-color: var(--bacic-back-gray);
  padding-top: 47px;
  padding-bottom: 54px;
  list-style: none;
}

.main-welcome {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 170px;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.main-image {
  position: relative;
  display: block;
  justify-content: center;
  left: 370px;
  top: 77px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.container-block {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px;
}

.container-block-rev {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: start;
}

.features-item-caption {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.search-hotels {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-details {
  background-color: var(--special);
  padding: 3px 17px;
  color: var(--bacic-white);
}

.button-reservation {
  background-color: var(--special-nav);
  padding: 3px 17px;
  color: var(--bacic-white);
}

.features {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.features-item {
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
}

.accommodation-list {
  list-style: none;
}

.list-filter {
  list-style: none;
}

.footer-filter {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.features-list {
  padding: 0px;
  margin: 0px;
}
